<%- include ./partials/header %>

	<div class = 'jumbotron'>
		<div class = "container">
			<div class = "row">
			<% image.forEach(function(image){ %>
				<div class = 'col-md-6 image-responsive'>
					<div class = "image">
						<img class = 'img-responsive' src = "<%= image.path %>">
						
						<div class="dropdown">
						  <button class="btn  dropdown-toggle pull-right" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    <span class="glpyhicon glyphicon-chevron-down"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <li><a href="#">Action</a></li>
						    <li><a href="#">Another action</a></li>
						    <li><a href="#">Something else here</a></li>
						    <li role="separator" class="divider"></li>
						    <li><a href="#">Separated link</a></li>
						  </ul>
						</div>
					</div>
				</div>
				


			<% }) %>
			</div>
			
		</div>

	</div>


	<%- include ./partials/footer %>